{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"}>
    <title>{% block title %}{% endblock title %} - Resume App</title>
</head>
<body>

    <header>
        <!-- Navigation bar code goes here -->
        <nav class="navbar container">
            <span><strong>ResumeGenie</strong></span>
            <ul class="navbar-items">
                <li><a href="/">Home</a></li>
                <li><a target="_blank" href="https://github.com/ashish-makes/resume-generator">About</a></li>
                <li><a href="/builder">Build your resume</a></li>
                <li><a target="_blank" href="https://developerashish.vercel.app/contact">Contact</a></li>
            </ul>
            <div class="mob-menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="28" fill="#5c5c5ce6"><path d="M1 0h5a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm7 8h5a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2zM1 4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2z"></path></svg>
            </div>
            <div class="mob-menu-close-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-6 -6 24 24" width="28" fill="currentColor"><path d="M7.314 5.9l3.535-3.536A1 1 0 1 0 9.435.95L5.899 4.485 2.364.95A1 1 0 1 0 .95 2.364l3.535 3.535L.95 9.435a1 1 0 1 0 1.414 1.414l3.535-3.535 3.536 3.535a1 1 0 1 0 1.414-1.414L7.314 5.899z"></path></svg>
            </div>
        </nav>
        <!-- Mobile Menu -->
        <div class='mob-menu'>
            <ul class="container">
                <a href='/'><li>Home</li></a>
                <a target="_blank" href='https://github.com/ashish-makes/resume-generator'><li>About</li></a>
                <a href='/builder'><li>Build your resume</li></a>
                <a target="_blank" href='https://developerashish.vercel.app/contact'><li>Contact</li></a>
            </ul>
        </div>
    </header>    

    <main>
        {% block content %}{% endblock content %}
    </main>

    <aside>
        <!-- Sidebar code goes here -->
    </aside>

    <footer>
        <!-- Footer code goes here -->
        <div class="container footer-content">
            <div>
                <h2>ResumeGenie</h2>
            </div>
            <div>
                <ul>
                    <li><a href="/builder">Build you resume</a></li>
                    <li><a target="_blank" href="https://github.com/ashish-makes">Other products</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a target="_blank" href="https://github.com/ashish-makes/resume-generator">About</a></li>
                    <li><a target="_blank" href="https://developerashish.vercel.app/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>